body{
    font-family: 'Josefin Sans', sans-serif;
}

.box {
    background-color: #55688A;
    margin: 0 auto;
    max-width: 600px;
    color: #fff;
    border-radius: 20px;
    padding: 15px;
    display: block;
    margin: 15px auto 0 auto;
}

h1{
    margin: 0;
    padding: 0;
}


#day-time-today{
    text-transform: uppercase;
}

.form-control{
    width: 140%;
}

.search-window{
    padding: 0;
    width: 20%;
}

.search-button{
    position: relative;
    left: 66px;
    padding: 0;
}

.current-button{
    position: relative;
    left: 44px;
    padding: 0;
}

.box-today{
    padding: 0 0 0 80px;
}
  

.temp-today{
    
    font-size: 70px;
    line-height: 27px;
    margin-top: 22px;
}

.temperature{
    margin-right: 0;
    top: -29px;
}

.units{
    font-size: 15px;
    color: #fff;
    position: relative;
    top: -36px;
    left: -20px;
}

.box-today .active{
    color: #fff;
    text-decoration: none;
    cursor: default;
}

.box-today .active:hover{
    text-decoration: none;
    color: #fff;
}

.day-week{
    
    border-radius: 10px;
    margin: 3px;
    background: #7B89A4;
    padding: 5px 15px;
    font-size: 18px;
    margin-top: 15px;
}

.signature{
    max-width: 600px;
    margin: 0 auto;
    font-size: small;
}

.link{
    text-decoration: none;
}

.link:hover{
    text-decoration: underline;
}

#search-form{
    margin-top: 0;
    max-width: 105%;
}



#cloudy{
    text-transform: capitalize;
}

